html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 15px 15px 20px;
}



h1.titles {
    font-size: 36px;
    margin: 15px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}
.testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-desc {
    margin-top: 20px;
    text-align:left;
    padding-left: 15px;
}
.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
    font-size: 16px;
}
.testimonial-writer-name-small{
    font-size: 14px;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
/*---- Outlined Styles ----*/
.testimonial.testimonial-default{

}
.testimonial.testimonial-default .testimonial-section{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-section:after{
    border-top-color: #777;
}

.testimonial.testimonial-default .testimonial-desc{

}

.testimonial.testimonial-default .testimonial-desc img{
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-writer-name{
    color: #777;
}

.testimonial.testimonial-primary{

}
.testimonial.testimonial-primary .testimonial-section{
    border-color: #337AB7;
    color: #286090;
    background-color: rgba(51, 122, 183, 0.1);
}

.testimonial.testimonial-primary .testimonial-section:after{
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-desc{

}

.testimonial.testimonial-primary .testimonial-desc img{
    border-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-info{

}
.testimonial.testimonial-info .testimonial-section{
    border-color: #5BC0DE;
    color: #31b0d5;
    background-color: rgba(91, 192, 222, 0.1);
}

.testimonial.testimonial-info .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-desc{

}

.testimonial.testimonial-info .testimonial-desc img{
    border-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-writer-name{
    color: #5BC0DE;
}


.testimonial.testimonial-success{

}
.testimonial.testimonial-success .testimonial-section{
    border-color: #5CB85C;
    color: #449d44;
    background-color: rgba(92, 184, 92, 0.1);
}

.testimonial.testimonial-success .testimonial-section:after{
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-desc{

}

.testimonial.testimonial-success .testimonial-desc img{
    border-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-writer-name{
    color: #5CB85C;
}

.testimonial.testimonial-warning{

}
.testimonial.testimonial-warning .testimonial-section{
    border-color: #F0AD4E;
    color: #d58512;
    background-color: rgba(240, 173, 78, 0.1);
}

.testimonial.testimonial-warning .testimonial-section:after{
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-desc{

}

.testimonial.testimonial-warning .testimonial-desc img{
    border-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-writer-name{
    color: #F0AD4E;
}

.testimonial.testimonial-danger{

}
.testimonial.testimonial-danger .testimonial-section{
    border-color: #D9534F;
    color: #c9302c;
    background-color: rgba(217, 83, 79, 0.1);
}

.testimonial.testimonial-danger .testimonial-section:after{
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-desc{

}

.testimonial.testimonial-danger .testimonial-desc img{
    border-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-writer-name{
    color: #D9534F;
}

/*---- Filled Styles ----*/
.testimonial.testimonial-default-filled{

}
.testimonial.testimonial-default-filled .testimonial-section{
    color: #fff;
    border-color: #777;
    background-color: #777;
}

.testimonial.testimonial-default-filled .testimonial-section:after{
    border-top-color: #777;
}

.testimonial.testimonial-default-filled .testimonial-desc{

}

.testimonial.testimonial-default-filled .testimonial-desc img{
    border-color: #777;
    background-color: #777;
}

.testimonial.testimonial-default-filled .testimonial-writer-name{
    color: #777;
}

.testimonial.testimonial-primary-filled{

}
.testimonial.testimonial-primary-filled .testimonial-section{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.testimonial.testimonial-primary-filled .testimonial-section:after{
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary-filled .testimonial-desc{

}

.testimonial.testimonial-primary-filled .testimonial-desc img{
    border-color: #2e6da4;
    background-color: #337ab7;
}

.testimonial.testimonial-primary-filled .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-info-filled{

}
.testimonial.testimonial-info-filled .testimonial-section{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.testimonial.testimonial-info-filled .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info-filled .testimonial-desc{

}

.testimonial.testimonial-info-filled .testimonial-desc img{
    border-color: #46b8da;
    background-color: #5bc0de;
}

.testimonial.testimonial-info-filled .testimonial-writer-name{
    color: #5BC0DE;
}


.testimonial.testimonial-success-filled{

}
.testimonial.testimonial-success-filled .testimonial-section{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.testimonial.testimonial-success-filled .testimonial-section:after{
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success-filled .testimonial-desc{

}

.testimonial.testimonial-success-filled .testimonial-desc img{
    border-color: #4cae4c;
    background-color: #5cb85c;
}

.testimonial.testimonial-success-filled .testimonial-writer-name{
    color: #5CB85C;
}

.testimonial.testimonial-warning-filled{

}
.testimonial.testimonial-warning-filled .testimonial-section{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.testimonial.testimonial-warning-filled .testimonial-section:after{
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning-filled .testimonial-desc{

}

.testimonial.testimonial-warning-filled .testimonial-desc img{
    border-color: #eea236;
    background-color: #f0ad4e;
}

.testimonial.testimonial-warning-filled .testimonial-writer-name{
    color: #F0AD4E;
}

.testimonial.testimonial-danger-filled{

}
.testimonial.testimonial-danger-filled .testimonial-section{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.testimonial.testimonial-danger-filled .testimonial-section:after{
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger-filled .testimonial-desc{

}

.testimonial.testimonial-danger-filled .testimonial-desc img{
    border-color: #d43f3a;
    background-color: #D9534F;
}

.testimonial.testimonial-danger-filled .testimonial-writer-name{
    color: #D9534F;
}

/*-------------------------------------------------------------------*/

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Content */
.content {
    padding-top: 30px;
}

/* Testimonials */
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 20px solid #fff;
    border-right: 0 solid transparent;
    border-left: 15px solid transparent;
    border-left-style: inset; /*FF fixes*/
    border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 50%!important;
    height: 65px;
    padding: 3px;
    width: 65px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}

.summary {
    font-size: 20px;
    margin-left: 35px;
    padding-bottom: 15px;
}

.sorter {
    float: right;
    font-size: 16px;
}
ul.sorter {
    list-style: none;
}
